@font-face{
  font-family: "Space";
  src: url("/font/space.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  background-image: url("/img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header{
  width: 100%;
  height: 12%;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Space", cursive;
  animation: slidetop 6s;
}

/* Menu */

nav{
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  overflow: hidden;
}

nav ul{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  font-size: 2.5em;
}

.triangle{
  background: url("/img/triangle.png");
  background-size: cover;
  width: 63px;
  height: 56px;
  transform: rotate(90deg);
  animation: slidein 25s;
}

.najib{
  animation: slidetop 20s;
}

.triangle1{
  background: url("/img/triangle.png");
  background-size: cover;
  width: 63px;
  height: 56px;
  transform: rotate(-90deg);
  animation: slidereverse 25s;
}

/* Main */

main{
  height: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h1{
  font-family: "Space", cursive;
  font-size: 3em;
  background: rgba(0,0,0,0.9);
  padding: 10px; 
}

/* 2 div to make the animation */

div{
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.welcome{
  animation: showup 3s;
}

.welcome h1{
  margin-left: 20px;
  border-radius: 10px 0 0 10px;
}

.into{
  animation: reveal 15s;
  animation-fill-mode: forwards;
}

.into h1{
  border-radius: 0 10px 10px 0;
  animation: slidein 15s;
  animation-fill-mode: forwards;
}

/* Keyframes  */

@keyframes showup {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
}

@keyframes slidereverse {
  0% { margin-right:-200px; }
  20% { margin-right:-200px; }
  35% { margin-right:0px; }
  100% { margin-right:0px; }
}

@keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:770px;}
  100% {opacity:1;width:770px;}
}

@keyframes slidetop{
  0% { margin-top:-800px; }
  20% { margin-top:-800px; }
  35% { margin-top:0px; }
  100% { margin-top:0px; }
}




